.about {
    text-align: center;
    height: 100%;
    max-width: 100%;
    display: flex;
    margin: 2rem;
}

.short {
    max-width: 50%;
    margin: auto;
    font-size: 20px;
}


@media screen and (max-width: 640px)  {
    .about {
        max-width: fit-content;
        margin: 0.2rem;
    }
}