.gh-heading {
    text-align: center;
    padding: 2em 0 1em;
}

.small-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding-bottom: 2em;
}

.gh-card {
    background: #252525;
    padding: 1.5em 1em;
}

.gh-card img {
    width: 100%;
}

.hub-title {
    text-align: center;
    padding: 1em 0;
}

.hub-details {
    text-align: center;
    padding: 0.5em 0;
}

.hub-btn {
    padding: 2em 0;
}



@media screen and (max-width: 740px) {
    .small-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}