.cards {
    width: 100%;
    padding: 2rem 1.5rem;
}

.edu-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}


.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}



@media screen and (max-width: 740px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .edu-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        text-align: center;
    }
}