@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #91add9;
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #252525;
}

h1,
p,
a {
  color: #91add9;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 10px;
  text-transform: uppercase;
  background: #91add9;
  color: #222;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background: #292828;
  color: #91add9;
  transition: 0.2s;
}
